/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    padding-top: 6.1rem;
}

a {
    text-decoration: none;
}

/* Tipografia */
h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}

/* Backgrounds */
.bg-header,
.bg-footer {
    background: #222831;
}

.bg-main {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.bg-card-productos {
    background: #212121;
}

/* Header */
.btn-rounded {
    border-radius: 1rem;
}

.navbar {
    padding: 1rem;
}

.navbar-toggler {
    background-color: white;
    border: none;
}

.logo {
    max-width: 20rem;
    max-height: 5rem;
}

.custom-btn {
    width: 130px;
    height: 40px;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-3 {
    background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    width: 180px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
}

.btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-3:before,
.btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: #8167a9;
    transition: all 0.3s ease;
}

.btn-3:before {
    height: 0%;
    width: 2px;
}

.btn-3:after {
    width: 0%;
    height: 2px;
}

.btn-3:hover {
    background: transparent;
    box-shadow: none;
}

.btn-3:hover:before {
    height: 100%;
}

.btn-3:hover:after {
    width: 100%;
}

.btn-3 span:hover {
    color: #8167a9;
}

.btn-3 span:before,
.btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: #8167a9;
    transition: all 0.3s ease;
}

.btn-3 span:before {
    width: 2px;
    height: 0%;
}

.btn-3 span:after {
    width: 0%;
    height: 2px;
}

.btn-3 span:hover:before {
    height: 100%;
}

.btn-3 span:hover:after {
    width: 100%;
}

::selection {
    color: #fff;
    background-color: #8167a9;
}

::-moz-selection {
    color: #fff;
    background-color: #8167a9;
}

.nav-link {
    color: white;
    font-weight: 500;
    transition: all 200ms linear;
}

.nav-item:hover .nav-link {
    color: #8167a9 !important;
}

.nav-item.active .nav-link {
    color: #777 !important;
}

.nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
}

.nav-item:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #8167a9;
    opacity: 0;
    transition: all 200ms linear;
}

.nav-item:hover:after {
    bottom: 0;
    opacity: 1;
}

.nav-item {
    position: relative;
    transition: all 200ms linear;
}

.dropdown-item {
    padding: 3px 15px;
    color: #212121;
    border-radius: 2px;
    transition: all 200ms linear;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #fff;
    background-color: rgba(129, 103, 169, .6);
}

@media (max-width: 768px) {

    .nav-item:after {
        display: none;
    }

    .dropdown-toggle::after {
        position: absolute;
        display: block;
        top: 10px;
        left: -23px;
        width: 1px;
        height: 11px;
        content: "";
        border: none;
        background-color: #000;
        transition: all 200ms linear;
    }

    .dropdown-toggle[aria-expanded="true"]::after {
        transform: rotate(90deg);
        opacity: 0;
    }

    .dropdown-menu {
        padding: 0 !important;
        background-color: transparent;
        box-shadow: none;
        transition: all 200ms linear;
    }

    .dropdown-toggle[aria-expanded="true"]+.dropdown-menu {
        margin-top: 10px !important;
        margin-bottom: 20px !important;
    }
}

/* Main */
.img-card {
    width: 100%;
    height: 45rem;
    background-size: cover;
    background-repeat: no-repeat;
}
@media (max-width: 576px) {
    .img-card {
        height: 30rem;
    }
}
.img-card-1 {
    background-image: url(/img/productos.png);
}
.img-card-2 {
    background-image: url(/img/quienes-somos.png);
}
.img-card-3 {
    background-image: url(/img/contacto.png);
}
.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.9);
    right: 50%;
    max-width: 100%;
}

.img-overlay {
    background-color: rgba(42, 85, 85, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
}

.contenedor {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}

.contenedor.cards {
    position: relative;
    max-width: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #c48e82;
    z-index: 0;
}

.contenedor-cards .card-1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10rem 0;
}

.contenedor-cards .card-1:nth-child(odd) {
    flex-direction: row;
}

.contenedor-cards .card-1:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
}

.contenedor-cards .card-1 .imgBx {
    position: relative;
    left: 25px;
    width: 400px;
    height: 400px;
    background: #ff0;
    z-index: 1;
}

.contenedor-cards .card-1:nth-child(even) .imgBx {
    left: -25px;
}

.contenedor-cards .card-1 .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor-cards .card-1 .contentBx {
    position: relative;
    right: 25px;
    width: 400px;
    height: 400px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px 20px 100px;
}

.contenedor-cards .card-1:nth-child(even) .contentBx {
    right: -25px;
    padding: 20px 100px 20px 60px;
}

.contenedor-cards .card-1 .contentBx:before {
    content: '';
    position: absolute;
    top: -50px;
    bottom: -50px;
    left: 0;
    right: 0;
    background: #000;
    z-index: -1;
}

.contenedor-cards .card-1 .contentBx h2 {
    font-size: 30px;
    color: #fff;
}

.contenedor-cards .card-1 .contentBx p {
    margin-top: 10px;
    color: #fff;
}

.contenedor-cards .card-1 .contentBx a {
    display: inline-block;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #fff;
}

@media (max-width: 1000px) {
    .contenedor-cards .card-1 {
        flex-direction: column;
        max-width: 350px;
        margin: 25px 25px;
    }

    .contenedor-cards .card-1 .imgBx {
        width: 100%;
        height: 250px;
        left: 0;
    }

    .contenedor-cards .card-1 .contentBx {
        width: 100%;
        height: auto;
        right: 0;
        padding: 30px;
        text-align: center;
    }

    .contenedor-cards .card-1 .contentBx:before {
        top: 0;
        bottom: 0;
    }

    .contenedor-cards .card-1:nth-child(even) .imgBx {
        left: 0;
    }

    .contenedor-cards .card-1:nth-child(even) .contentBx {
        right: 0;
        padding: 30px;
    }
}

.img-circle {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 18px 7px #000000;
    margin-bottom: 2rem;
}

.bg-img-1 {
    background-image: url(/img/paginas.webp);
}

.bg-img-2 {
    background-image: url(/img/paletas.png);
}

.bg-img-3 {
    background-image: url(/img/plantillas.jpg);
}

.card-productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    color: #000000;
    border-radius: 1rem;
    transition: all 0.4s ease-in-out;
}

@media (max-width: 768px) {
    .card-productos {
        margin: 2rem auto;
    }
}

.card-productos:hover,
.card-productos:focus {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

/* Footer */
.footer {
    background: #393e46;
}

.footer-link {
    display: block;
    text-decoration: none;
    color: white;
}