<footer class="bg-footer">
        <div class="container">
            <div class="row justify-content-center p-5 border-bottom">
                <div class="col-10 col-sm-6 text-center">
                    <a href="/index"><img class="img-fluid" src="/img/digitalizate.png" alt="Logo"></a>
                </div>
                <div class="row justify-content-sm-between">
                    <div class="col-12 col-sm-3 text-white">
                        <h3 class="text-start my-5">Digitalizate</h3>
                        <p>Encargados de migrar tu negocio físico a digital en un sólo paso</p>
                    </div>
                    <div class="col-12 col-sm-3 text-white">
                        <h3 class="text-start my-5">Partners</h3>
                        <ul class="p-0">
                            <a class="footer-link" href="https://talentodigitalparachile.cl/">Talento Digital</a>
                            <a class="footer-link" href="https://www.unab.cl/">Universidad Andrés Bello</a>
                            <a class="footer-link" href="https://sence.gob.cl/">Sence</a>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-3 text-white">
                        <h3 class="text-start my-5">Soporte</h3>
                        <ul class="p-0">
                            <a class="footer-link" href="/contact">Contacta con nosotros</a>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-3 text-white">
                        <h3 class="text-start my-5">Siguenos!</h3>
                        <ul class="p-0">
                            <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" role="button">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                            <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" role="button">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a class="btn text-white btn-floating m-1" style="background-color: #333333;" role="button">
                                <i class="fa-brands fa-github"></i>
                            </a>
                            <a class="btn text-white btn-floating m-1" style="background-color: #55acee;" role="button">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container p-5">
            <h3 class="text-white">Todos los derechos son reservados &#174;</h3>
        </div>
    </footer>