<footer class="text-center text-white" style="background-color: rgba(0, 0, 0, 0.2);">
    <div class="container p-4 pb-0">
        <section class="mb-4">
            <a class="btn btn-outline-light btn-floating m-1" href="#"
                role="button"><i class="fa-brands fa-facebook"></i></a>

            <a class="btn btn-outline-light btn-floating m-1" href="#"
                role="button"><i class="fa-brands fa-twitter"></i></a>

            <a class="btn btn-outline-light btn-floating m-1" href="#"
                role="button"><i class="fa-brands fa-google"></i></a>

            <a class="btn btn-outline-light btn-floating m-1" href="#"
                role="button"><i class="fa-brands fa-instagram"></i></a>

            <a class="btn btn-outline-light btn-floating m-1" href="#"
                role="button"><i class="fa-brands fa-linkedin-in"></i></a>

            <a class="btn btn-outline-light btn-floating m-1" href="#"
                role="button"><i class="fa-brands fa-github"></i></a>
        </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="https://github.com/BryanC7">BryanC7</a>
    </div>
</footer>
