 <footer class="text-center text-lg-start">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border">
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
    
        <div>
            <a href="" class="me-4 link-secondary"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="" class="me-4 link-secondary"><i class="fa-brands fa-twitter"></i></a>
            <a href="" class="me-4 link-secondary"><i class="fa-brands fa-google"></i></a>
            <a href="" class="me-4 link-secondary"><i class="fa-brands fa-instagram"></i></a>
            <a href="" class="me-4 link-secondary"><i class="fa-brands fa-linkedin"></i></a>
            <a href="" class="me-4 link-secondary"><i class="fa-brands fa-github"></i></a>
        </div>
    </section>

    <section>
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"><i class="fa-regular fa-gem"></i>Company name</h6>
                    <p>Here you can use rows and columns to organize your footer content. Lorem ipsum
                    dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                    <p><a href="#!" class="text-reset">Angular</a></p>
                    <p><a href="#!" class="text-reset">React</a></p>
                    <p><a href="#!" class="text-reset">Vue</a></p>
                    <p><a href="#!" class="text-reset">Laravel</a></p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
                    <p><a href="#!" class="text-reset">Pricing</a></p>
                    <p><a href="#!" class="text-reset">Settings</a></p>
                    <p><a href="#!" class="text-reset">Orders</a></p>
                    <p><a href="#!" class="text-reset">Help</a></p>
                </div>
            
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fa-solid fa-house"></i>New York, NY 10012, US</p>
                    <p><i class="fa-solid fa-envelope"></i>info@example.com</p>
                    <p><i class="fa-solid fa-phone"></i>+ 01 234 567 88</p>
                    <p><i class="fa-solid fa-print"></i>+ 01 234 567 89</p>
                </div>
            </div>
        </div>
    </section>

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="https://github.com/BryanC7">BryanC7</a>
    </div>
</footer>