<footer class="d-flex justify-content-center align-items-center flex-column py-3 border-top" style="background-color: rgb(33,37,41);">
    <p class="mb-0 fw-bold text-white">&copy; 2023 Company, Inc</p>

    <a href="#" class="link-light text-decoration-none my-2">
        <i class="fa-brands fa-bootstrap fa-xl"></i>
    </a>

    <ul class="d-flex flex-column flex-sm-row nav justify-content-between">
        <li class="nav-item"><a href="#" class="nav-link link-light px-2 fw-semibold">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-light px-2 fw-semibold">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-light px-2 fw-semibold">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-light px-2 fw-semibold">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-light px-2 fw-semibold">About</a></li>
    </ul>
</footer>