<div class="modal fade" id="modalRegister">
    <div class="modal-dialog">
        <div class="modal-content bg-white p-5 rounded-5 text-secondary shadow">
            <div class="modal-header">
                <div class="d-flex justify-content-center">
                    <i class="fa-regular fa-circle-user"></i>                    
                </div>
                <div class="text-center fs-1 fw-bold ms-2">Registra un usuario</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="register" method="post">
                    <div class="input-group mt-4 mb-3">
                        <div class="input-group-text bg-info">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <input class="form-control bg-light p-3 fs-3" type="text" placeholder="Tu nombre" name="name"/>
                    </div>
                    <div class="input-group mt-1 mb-3">
                        <div class="input-group-text bg-info">
                            <i class="fa-solid fa-lock"></i>
                        </div>
                        <input class="form-control bg-light p-3 fs-3" type="text" placeholder="Tus apellidos" name="lastNames"/>
                    </div>
                    <div class="input-group mt-1 mb-3">
                        <div class="input-group-text bg-info">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <input class="form-control bg-light p-3 fs-3" type="email" placeholder="Tu correo electrónico" name="email"/>
                    </div>
                    <div class="input-group mt-1 mb-3">
                        <div class="input-group-text bg-info">
                            <i class="fa-solid fa-lock"></i>
                        </div>
                        <input class="form-control bg-light p-3 fs-3" type="password" placeholder="Tu contraseña" name="password"/>
                    </div>
                    <button class="btn btn-info text-white fs-3 w-100 mt-4 p-3 fw-semibold shadow-sm" type="submit">Registrate</button>
                </form>
                <div class="modal-footer">
                    <div class="d-flex gap-1 justify-content-center mt-3">
                        <button class="btn btn-info text-white fs-4 p-2 fw-semibold shadow-sm" data-bs-target="#modal-login" data-bs-toggle="modal" data-bs-dismiss="modal">Volver atrás</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>