<div class="col-auto col-xxl-2 px-sm-2 px-0 bg-dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 sticky-top">
        <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none border-bottom">
            <span class="fs-4 d-none d-sm-inline" id="title-menu"></span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-3 mb-sm-0 align-items-center align-items-sm-start justify-content-between mt-2" id="menu">
            <li class="mb-3">
                <a href="#" class="nav-link px-0 align-middle text-icon" id="redirect-link">
                    <i class="fa-solid fa-house fa-lg"></i><span class="ms-3 d-none d-sm-inline text-light">Ir al inicio</span>
                </a>
            </li>
        </ul>
        <div class="dropdown pb-4">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://avatars.githubusercontent.com/u/100877564?s=400&u=cf3c8b6c1bf9724d6c448070f2e8907855a9889c&v=4" alt="hugenerd" width="30" height="30" class="rounded-circle">
                <span class="d-none d-sm-inline mx-3">Usuario</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">Salir de la cuenta</a></li>
            </ul>
        </div>
    </div>
</div>