{{#> userView}}
<div class="container mt-3">
    <table class="table table-light">
        <thead>
            <tr class="text-center">
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each }}
            <tr class="text-center">
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/userView}}