<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digitalizate</title>
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="/css/bootstrap.min.css"
      rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/userView.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            {{> sidebar}}
            <div class="bg-main flex-shrink-1 p-0">
                {{> @partial-block}}
            </div>
        </div>
    </div>
</body>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/1ad65aac44.js" crossorigin="anonymous"></script>
<script src="/js/view-user.js"></script>
{{#if editInfo}}
<script src="/js/register-editInfo.js"></script>
{{/if}}