<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digitalizate</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Krub&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="public/css/loading.css">
    <link rel="stylesheet" href="public/css/templates.css">
</head>
<body onload="timeOutPage()">
    <div id="loader"></div>
    <div style="display:none;" id="divSpinner" class="animate-bottom">
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                    <div class="d-flex flex-column align-items-center align-items-sm-start p-4 text-white min-vh-100">
                        <a href="index.html" class="d-flex align-items-center pb-3 mb-3 text-decoration-none border-bottom">
                            <h3 class="fw-semibold">Volver al inicio</h3>
                        </a>

                        <ul class="list-unstyled w-100">
                            <li class="mb-1 text-start">
                                <button class="btn btn-toggle align-items-center rounded collapsed btn-color" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                                    <h3 class="ms-1">Header</h3>
                                </button>
                                <div class="collapse show" id="home-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        <li><a href="#" class="rounded" id="header-1">Ejemplo 1</a></li>
                                        <li><a href="#" class="rounded" id="header-2">Ejemplo 2</a></li>
                                        <li><a href="#" class="rounded" id="header-3">Ejemplo 3</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="mb-1 text-start">
                                <button class="btn btn-toggle align-items-center rounded collapsed btn-color" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                                    <h3 class="ms-1">Body</h3>
                                </button>
                                <div class="collapse" id="dashboard-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        <li><a href="#" class="rounded" id="body-1">Ejemplo 1</a></li>
                                        <li><a href="#" class="rounded" id="body-2">Ejemplo 2</a></li>
                                        <li><a href="#" class="rounded" id="body-3">Ejemplo 3</a></li>
                                        <li><a href="#" class="rounded" id="body-4">Ejemplo 4</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="mb-1 text-start">
                                <button class="btn btn-toggle align-items-center rounded collapsed btn-color" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                                    <h3 class="ms-1">Footer</h3>
                                </button>
                                <div class="collapse" id="orders-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        <li><a href="#" class="rounded" id="footer-1">Ejemplo 1</a></li>
                                        <li><a href="#" class="rounded" id="footer-2">Ejemplo 2</a></li>
                                        <li><a href="#" class="rounded" id="footer-3">Ejemplo 3</a></li>
                                        <li><a href="#" class="rounded" id="footer-4">Ejemplo 4</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="border-top my-3"></li>
                        </ul>
                    </div>
                </div>
                <div class="col-8 mx-auto">
                    <h1 class="my-5">Vista previa</h1>
                    <div class="bg-white" id="preview">
                        <div>{{> header-1}}</div>
                        <div>{{> body-2}}</div>
                        <div>{{> footer-3}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/1ad65aac44.js" crossorigin="anonymous"></script>
<script src="js/components-effects/loading.js"></script>
<script src="js/templates.js"></script>
</html>