{{#> userView}}
<div class="col p-3 p-lg-5">
    <div class="row">
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Clientes registrados</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ usersAmount }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa-solid fa-circle-user fa-2x" style="color: #c9c9c9;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Administradores registrados</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ adminsAmount }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa-solid fa-user-tie fa-2x" style="color: #c9c9c9;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Ganancias Mensuales</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="profits">{{ ordersAmount }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x" style="color: #c9c9c9;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Pedidos realizados</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ ordersAmount }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x" style="color: #c9c9c9;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="my-4">
        <h3>Página de administración Digitalizate</h3>
        <p class="lead">
            Desde esta vista eres capaz de observar los datos que maneja el sitio web. Pódras revisar la lista de clientes, sus respectivos pedidos y a su vez administrarlos, puedes eliminar y actualizar registros si asi lo deseas.</p>
        <ul class="list-unstyled">
            <li><h5>Items a considerar</h5>Clientes registrados en el sitio web, administración de su información además de sus pedidos, capacidad para modificar dicha información</li>
        </ul>
    </div>
    <div class="container-xl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-6 col-12 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3 rounded-2">
                        <div class="p-2 p-lg-4">
                            <i class="fa fa-3x fa-graduation-cap mb-4"></i>
                            <h5 class="mb-3">Administración de usuarios</h5>
                            <p>Control (modificar y eliminar) de información y datos</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center pt-3 rounded-2">
                        <div class="p-2 p-lg-4">
                            <i class="fa fa-3x fa-globe mb-4"></i>
                            <h5 class="mb-3">Seguimiento de pedidos</h5>
                            <p>Contabilidad de las ordenes de pedidos realizados</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3 rounded-2">
                        <div class="p-2 p-lg-4">
                            <i class="fa fa-3x fa-home mb-4"></i>
                            <h5 class="mb-3">Mayor transparencia</h5>
                            <p>información al alcance del administrador</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3 rounded-2">
                        <div class="p-2 p-lg-4">
                            <i class="fa fa-3x fa-book-open mb-4"></i>
                            <h5 class="mb-3">Seguridad de datos</h5>
                            <p>Mejor control sobre datos personales de los usuarios</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/userView}}