{{#> userView}}
<div class="container">
    <div class="my-4">
        <h3>Página de administración Digitalizate</h3>
        <p class="lead">
            Desde esta vista eres capaz de observar los datos que maneja el sitio web. Pódras revisar la lista de clientes, sus respectivos pedidos y a su vez administrarlos, puedes eliminar y actualizar registros si asi lo deseas.</p>
        <ul class="list-unstyled">
            <li><h5>Items a considerar</h5>Clientes registrados en el sitio web, administración de su información además de sus pedidos, capacidad para modificar dicha información</li>
        </ul>
    </div>
    <div class="container-xl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-4 col-12 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3 rounded-2">
                        <div class="p-2 p-lg-4">
                            <i class="fa fa-3x fa-graduation-cap mb-4"></i>
                            <h5 class="mb-3">Modificar información</h5>
                            <p>Actualiza los datos que tu quieras y cuando quieras.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center pt-3 rounded-2">
                        <div class="p-2 p-lg-4">
                            <i class="fa fa-3x fa-globe mb-4"></i>
                            <h5 class="mb-3">Mira tus pedidos</h5>
                            <p>Puedes observar las ordenes que hayas generado como cliente.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3 rounded-2">
                        <div class="p-2 p-lg-4">
                            <i class="fa fa-3x fa-home mb-4"></i>
                            <h5 class="mb-3">Todos tus datos al alcance</h5>
                            <p>En esta vista podrás observar tu perfil y todo lo que hayas hecho en la página.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/userView}}