<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digitalizate</title>
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/pay.css">
</head>

<body>
    <div class="container bg-light bg-gradient min-vh-100">
        <h1>Realización de compra: </h1>
        <div class="payment">
            <div class="card-pay">
                <div class="order">
                    <div class="order-header">
                        <div class="order-title">Número de órden</div>
                        <div class="order-number">1</div>
                    </div>
                    <div class="products">
                        <div class="product">
                            <p class="product-description m-0 p-0">Página con componentes funcionales</p>
                        </div>
                        <div class="product">
                            <p class="product-description m-0 p-0">Información almacenada en base de datos</p>
                        </div>
                        <div class="product">
                            <p class="product-description m-0 p-0">Autosustentable con mantenimientos periódicos</p>
                        </div>
                    </div>
                    <div class="order-total">
                        <div class="order-total-label">Total</div>
                        <div class="order-total-price">$250.000</div>
                    </div>
                </div>
                <div class="details">
                    <img class="payment-method-logo" src="https://res.cloudinary.com/dj7k0lade/image/upload/v1525487657/codepen/credit_card_checkout/visa.png"/>
                    <form id="form-pay" class="p-1" action="payment" method="post">
                        <div class="input-name-card">
                            <label>Nombre de la tarjeta</label>
                            <input placeholder="Javier Torres Díaz" name="cardName" minlength="10" maxlength="40"/>
                        </div>
                        
                        <div class="input-group-two">
                            <div class="card-number">
                                <label>Número de la tarjeta</label>
                                <input placeholder="4800 2800 1920 1234" name="cardNumber" maxlength="19"/>
                            </div>
                            <div class="input-group-expiry">
                                <label>
                                    Fecha expiración
                                    <div class="expiry-input-group">
                                        <input placeholder="05" name="expiry1" maxlength="2"/>
                                        <input placeholder="09" name="expiry2" maxlength="2"/>
                                        <input placeholder="18" name="expiry3" maxlength="2"/>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="input-group-cvc">
                            <label>CVV</label>
                            <input placeholder="321" name="cvc" maxlength="3"/>
                        </div>
                        <button class="pay" id="btn-pay">Realizar pago</button>
                    </form>
                </div>
            </div>   
        </div>
    </div>
</body>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/validate-pay.js"></script>