<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digitalizate</title>
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/pay.css">
</head>

<body>
    <div class="container bg-light bg-gradient min-vh-100">
        <h1>Realización de compra: </h1>
        <div class="payment">
            <div class="card-pay">
                <div class="order">
                    <div class="order-header">
                        <div class="order-title">Order</div>
                        <div class="order-number">657234</div>
                    </div>
                    <div class="products">
                        <div class="product">
                            <img src="https://res.cloudinary.com/dj7k0lade/image/upload/v1525487587/codepen/credit_card_checkout/bag_1.png"/>
                            <p class="product-description">Vintage Military Men Canvas Messenger Bag </p><span class="product-price">$32.99</span>
                        </div>
                        <div class="product">
                            <img src="https://res.cloudinary.com/dj7k0lade/image/upload/v1525487620/codepen/credit_card_checkout/hat_1.png"/>
                            <p class="product-description">Black Fedora Plain Hat Outfit accessory for Gangster Fancy Dress</p><span class="product-price">$9.99</span>
                        </div>
                        <div class="product">
                            <img src="https://res.cloudinary.com/dj7k0lade/image/upload/v1525487636/codepen/credit_card_checkout/toaster_1.png"/>
                            <p class="product-description">Swan Products ST17010GRN 4-Slice Retro Toaster, 800 W, Grey</p><span class="product-price">$39.99</span>
                        </div>
                    </div>
                    <div class="order-total">
                        <div class="order-total-label">Total</div>
                        <div class="order-total-price">$92.96</div>
                    </div>
                </div>
                <div class="details">
                    <img class="payment-method-logo" src="https://res.cloudinary.com/dj7k0lade/image/upload/v1525487657/codepen/credit_card_checkout/visa.png"/>
                    <form id="form-pay">
                        <div class="input-name-card">
                            <label>Name on Card</label>
                            <input placeholder="Lewis Alberto Briffa" id="card-name" name="card-name" minlength="10" maxlength="40"/>
                        </div>
                        
                        <div class="input-group-two">
                            <div class="card-number">
                                <label>Card Number</label>
                                <input placeholder="4800 2800 1920 1234" id="card-number" name="card-number" maxlength="19"/>
                            </div>
                            <div class="input-group-expiry">
                                <label>
                                    Expiry Date
                                    <div class="expiry-input-group">
                                        <input placeholder="05" id="expiry-1" name="expiry-1" maxlength="2"/>
                                        <input placeholder="09" id="expiry-2" name="expiry-2" maxlength="2"/>
                                        <input placeholder="18" id="expiry-3" name="expiry-3" maxlength="2"/>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="input-group-cvc">
                            <label>CVC</label>
                            <input placeholder="321" id="cvc" name="cvc" maxlength="3"/>
                        </div>
                        <button class="pay">Realizar pago</button>
                    </form>
                </div>
            </div>   
        </div>
    </div>
</body>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/validate-pay.js"></script>