{{#> userView}}
<div class="container mt-3">
    <h1 class="mb-3">Listado de pedidos</h1>
    <table class="table table-light table-bordered table-hover">
        <thead>
            <tr class="text-center table-dark">
                <th scope="col">ID</th>
                <th scope="col">Número de orden</th>
                <th scope="col">ID de usuario</th>
                <th scope="col">Eliminar pedido</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{{/userView}}