:root {
	--black: #131313;
	--brown: #3A3636;
	--yellow: #FFED0C;
}

body {
	min-height: 100vh;
	font-family: 'Open Sans', sans-serif;
	background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.payment {
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: scale(.8);
	transform-origin: top;
}

form {
	position: relative;
	top: -50px;
	left: 50px;
	overflow: hidden;
	width: 100%;
}

input {
	width: 100%;
	max-width: 332px;
	margin-top: 20px;
	padding: 15px 12px;
	border-radius: 6px;
	border: 1px solid #3C3C3C;
	background: #101010;
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.61px;
}

.input-group-two {
	overflow: hidden;
}

.expiry-input-group input {
	display: inline;
	margin-right: 20px;
	text-align: center;
}

.input-group-two .card-number {
	float: left;
	width: 42%;
}

.input-group-two input {
	width: 55%;
}

.input-group-two .expiry-input-group input {
	width: 50px;
}


.input-group-cvc {
	max-width: 60px;
}

.input-group-two .card-number input {
	width: 80%;
}

.card-pay {
	display: flex;
	flex-wrap: wrap;
	max-width: 960px;
	height: 512px;
	background: radial-gradient(#171717, #0A0A0A);
	margin: 80px auto;
	border-radius: 34px;
}

.order {
	float: left;
	position: relative;
	background: white;
	width: 30%;
	height: 100%;
	border-top-left-radius: 34px;
	border-bottom-left-radius: 34px;
	overflow: hidden;
}

.order-title,
.order-number {
	margin-top: 20px;
}

.order-title,
.order-total-label {
	text-transform: uppercase;
	float: left;
	margin-left: 20px;
}

.order-number,
.order-total-price {
	float: right;
	margin-right: 20px;
}

.order-header {
	overflow: hidden;
	border-bottom: 1px solid rgba(0, 0, 0, .15);
	padding-bottom: 15px;
}

.order-title {
	font-size: 12px;
}

.order-number {
	font-size: 14px;
}

.order-total-price {
	font-size: 18px;
}

.order-total {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 60px;
	line-height: 60px;
	background: var(--yellow);
	border-bottom-left-radius: 34px;
	box-shadow: 0 -5px 24px 0 rgba(147, 147, 147, 0.50);
}

.product img {
	max-width: 87px;
	float: left;
}

.product {
	width: 100%;
	float: left;
	padding: 11.1px;
	margin: 3px 0;
	overflow: hidden;
	border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.product-description {
	float: left;
	font-size: 12.5px;
	max-width: 130px;
	padding-left: 15px;
}

.product-price {
	float: right;
	margin-right: 30px;
	font-size: 12px;
	font-weight: 400;
}

.product-price::first-letter {
	font-size: 10px;
}

.details {
	position: relative;
	float: left;
	width: 70%;
	height: 100%;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}

.payment-method-logo {
	max-width: 158px;
	float: right;
}

label {
	font-size: 14px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.61px;
	margin-top: 40px;
	display: block;
	font-weight: 300;
}

::-webkit-input-placeholder {
	color: #777777;
}

::-moz-placeholder {
	color: #777777;
}

:-ms-input-placeholder {
	color: #777777;
}

:-moz-placeholder {
	color: #777777;
}

.pay {
	position: absolute;
	background: var(--yellow);
	bottom: 0px;
	right: 60px;
	border-radius: 66px;
	border: 0;
	padding: 18px 40px;
	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
}

@media (max-width: 768px) {

	input {
		margin-top: 8px;
	}

	.card-pay {
		border-radius: 0;
	}

	.order {
		border-radius: 0;
		width: 100%;
		float: right;
	}

	.pay {
		bottom: 0px;
		right: 60px;
	}

	.details {
		border-radius: 0;
		width: 100%;
		order: -1;
	}

	form {
		width: 100%;
		display: block;
	}
}

@media (max-width: 480px) {
	.input-group-two .card-number,
	.input-group-expiry {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}

	form {
		left: 0%;
		margin-left: 15px;
	}

	label {
		margin-top: 20px;
	}

	.input-name-card input{
		width: 80%;
	}

	.pay {
		bottom: 8px;
		right: 25px;
		padding: 10px 20px;
	}

	.details {
		height: 92%;
	}
}