/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

h1 {
    font-size: 3.5rem;
    text-align: center;
    margin: 0;
}

h3 {
    font-size: 1.8rem;
    margin: 0;
}

/* --- */

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}

.btn-color {
    color: #0d6efd;
}

.btn-toggle:hover,
.btn-toggle:focus {
    color: #0d6efd;
    background-color: #d2f4ea;
}

.btn-toggle::before {
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: #0d6efd;
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

.carousel {
    margin-bottom: 3rem;
}

.img-carousel {
    height: 530px;
    object-fit: cover;
    overflow: hidden;
}

.carousel-caption {
    z-index: 10;
}

.carousel-indicators {
    margin-bottom: 0;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.featurette-divider {
    margin: 5rem 0;
}

.featurette-heading {
    letter-spacing: -.05rem;
}

.carousel-caption h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.carousel-caption p {
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .img-carousel {
        height: auto;
    }

    .carousel-caption p {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .carousel-caption h1 {
        font-size: 2rem;
        margin-bottom: 0;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (max-width: 576px) {
    .carousel-caption h1 {
        font-size: 1.6rem;
    }

    .carousel-caption p {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

.rectangle {
    width: 4rem;
    height: 2rem;
    cursor: pointer;
}

@media (min-width: 768px) {
    .rectangle {
        width: 5rem;
        height: 3rem;
    }

    .carousel-item {
        height: 32rem;
    }
}

.checkbox {
    display: none;
}

.checkbox+label {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 40px;
    background: linear-gradient(to right, #929aab 0, #6c7a89 20%, #474a56 55%, #0b0b0d 75%) 0 0;
    background-size: 650px 100%;
    border-radius: 70px;
    padding: 10px;
    cursor: pointer;
    transition: all 500ms ease;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2) inset;
}

.checkbox+label:before {
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    content: "\e163";
    font-weight: 900;
    width: 30px;
    height: 30px;
    padding-top: 3px;
    padding-left: 1px;
    position: absolute;
    left: 7px;
    top: 5px;
    border-radius: 100%;
    background: #fff;
    color: #000000;
    transition: left 500ms ease, color 500ms ease, transform 150ms ease;
}

.checkbox+label:active:before {
    transform: scale(0.95);
}

.checkbox:checked+label {
    background-position-x: -350px;
}

.checkbox:checked+label:before {
    font-family: "Font Awesome 5 Free";
    content: "\f3cf";
    font-weight: 900;
    color: #000000;
    left: 62px;
}

.desktop-view {
    max-height: 80rem;
    overflow-y: scroll;
}

.phone {
    background-color: #36383F;
    border-radius: 40px;
    width: 342px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 30px 50px 100px #85888C;
}
.content {
    border: 1px solid #36383F;
    border-radius: 20px;
    max-width: 94%;
    max-height: 91%;
    background-color: #F5F6FA;
    overflow-y: scroll;
    overflow-x: hidden;
}